TextField {
    -fx-background-color: #3e424b;
    -fx-text-fill: #ff5400;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border-color: gray;
}
TextField:hover {
    -fx-border-color: #ff5400;
}
TextField:focused, Button:focused {
    -fx-border-color: #ff5400;
    -fx-effect: dropshadow( gaussian , rgba(255,84,0,1) , 5,0.4,0,0 );
}

Button {
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-color: #292E37;
    -fx-background-insets: 0;
    -fx-text-fill: gray;
}
Button:hover {
    -fx-border-color: #ff5400;
    -fx-text-fill: #ff5400;
    -fx-effect: dropshadow( gaussian , rgba(255,84,0,1) , 5,0.4,0,0 );
}
Button:pressed {
    -fx-border-color: orange;
    -fx-text-fill: orange;
}

#btn_close {
    -fx-background-color: #292E37;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #292E37;
    -fx-text-fill: white;
}
#btn_close:hover {
    -fx-background-color: gray;
    -fx-border-color: gray;
    -fx-text-fill: white;
    -fx-effect: none;
}
#btn_close:pressed {
    -fx-background-color: #ff5400;
    -fx-border-color: #ff5400;
    -fx-text-fill: white;
}
#btn_close:focused {
    -fx-effect: none;
}